# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/secrets.toml

# OS junk
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Jupyter/Colab
.ipynb_checkpoints/